* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  max-height: 100%;
  max-width: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  color: #888;
}


h1 {
  font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
  color: #51453B;
  font-weight: 300;
}

h2 {
  color: #42C3C9;
}

h3 {
  color: #4A4A4A;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

p {
  font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #7B7573;
  font-weight: 400;
}

pre {
  background-color: white;
  border: none;
  white-space: pre-wrap;
  width: 100%;
}

strong {
  font-size: 16px;
  color: #7B7573;
  line-height: 24px;
}

a:link {
  font-size: 14px;
  color: #0093B9;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0 15px 0 15px;
  max-height: 100%;
  max-width: 100%;

}
.image-responsive:hover {
  opacity: 0.3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.category-name {
  text-align: center;
  text-transform: uppercase;
}

/*
 *
 * Recipes
 *
 */

.recipe-name{
  text-transform: uppercase;
}

.recipe:hover {
  background-color: lightblue;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
  padding-left: 15px;
  text-transform: lowercase;
  font-family: 'Lato', sans-serif;
  color: black;
}

.header-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.25em 0.25em;
  display: inline-block;
  color: #212121;
}


/*
 *
 * Flash Messages
 *
 */

.flash {
  width:100%;
  text-decoration: none;
}

.flash li {
  list-style-type: none;
  text-align: center;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  padding: 15px;
  text-transform: lowercase;
}
.nav-item:hover {
  background-color: lightblue;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}