{% extends "main.html" %}
{% block content %}

  {%if 'username' in session %}
    <div class="row">
      <div class="col-xs-12">
        <h2>New Recipe</h2>
      </div>
    </div>
      
      <div class="row flash">
        <div class="col-xs-12">   
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    
    <div class="row">
      <div class="col-xs-12">
        <form action="#" method = "post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type ="text" maxlength="50" class="form-control"
                   name="name" placeholder="Name of the recipe">

            <label for="servings">Servings:</label>
            <input type ="text" maxlength="2" class="form-control"
                   name="servings" placeholder="Number of servings">


            <label for="description">Description:</label>
            <textarea class="form-control" maxlength="250" rows="3"
                      name="description"
                      placeholder="Description of the recipe">
            </textarea>
            
            <label for="ingredients">Ingredients:</label>
            <textarea class="form-control" rows="3" name="ingredients"
                      placeholder="- Ingredients for the recipe"></textarea>

            <label for="instructions">Instructions:</label>
            <textarea class="form-control" rows="3" name="instructions"
                      placeholder="1. Instructions for the recipe"></textarea>

            <label for="category">Category</label>
                  
                  <select class="form-control" name="category" id="category">
                      {% for category in categories %}
                      <option>{{category.name}}</option>
                      {% endfor %}
                  </select>

                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px;">
                    </div>
                    
                    <div>
                      <span class="btn btn-default btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="picture" id="picture">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                  </div>
              </div>

            <button type="submit" class="btn btn-default" id="submit" type="submit">
              <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
