{% extends "main.html" %}
{% block content %}

	{%if 'username' in session %}
		{%if session['user_id'] == recipe.user_id %}
			<div class="row">
				<div class="col-xs-12">
					<h2>Edit Recipe</h2>
				</div>
			</div>

			<div class="row flash">
				<div class="col-xs-12">		
			    {% with messages = get_flashed_messages() %}
			  		{% if messages %}
				   		<ul>
				    		{% for message in messages %}
				        	<li> <strong> {{ message }} </strong> </li>
				    		{% endfor %}
				    	</ul>
			    	{% endif %}
					{% endwith %}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<form action="#" method = "post">
						<div class="form-group">
							<label for="name">Name:</label>
							<input type ="text" maxlength="100" class="form-control" name="name" value="{{recipe.name }}">

							<label for="servings">Servings:</label>
							<input type ="text" maxlength="2" class="form-control" name="servings" value="{{recipe.servings}}">

							<label for="description">Description:</label>
							<textarea class="form-control" maxlength="250" rows="3" name="description">{{recipe.description}}</textarea>

							<label for="ingrediesnt">Ingredients:</label>
							<textarea class="form-control" rows="3" name="ingredients">{{recipe.ingredients}}</textarea>

							<label for="instructions">Instructions:</label>
							<textarea class="form-control" rows="3" name="instructions">{{recipe.instructions}}</textarea>
							
							<label for="category">Category</label>
	            <select class="form-control" name="category" id="category">
	                {% for category in categories %}
	                <option{% if category.id == recipe.category_id %} selected{% endif %}>{{ category.name }}</option>
	                {% endfor %}
	            </select>

							<button type="submit" class="btn btn-default" id="submit" type="submit">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
						</div>
					</form>

					<a href = '{{url_for('showAllRecipes')}}'>
						<button class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</div>
		{% endif %}
  {% endif %}
{% endblock %}