<div class="row home">
	<div class="col-md-12">
		<a class="header-link" href="{{url_for('showCategories')}}">Home</a> | 
		<a class="header-link" href="{{url_for('showAllRecipes')}}">All Recipes</a> | 
		<a class="header-link" href="{{url_for('showRecipes', category_id=1)}}">Breakfast</a> |
		<a class="header-link" href="{{url_for('showRecipes', category_id=2)}}">Entrees</a> |
		<a class="header-link" href="{{url_for('showRecipes', category_id=3)}}">Sides</a> |
		<a class="header-link" href="{{url_for('showRecipes', category_id=4)}}">Snacks</a> |
		<a class="header-link" href="{{url_for('showRecipes', category_id=5)}}">Sweets</a> |
		<a class="header-link" href="{{url_for('showRecipes', category_id=6)}}">Beverages</a> |

		{%if 'username' not in session %}
			<a class="header-link" href="{{url_for('showLogin')}}">Login</a>
		{% else %}
			<a class="header-link" href="{{url_for('newRecipe')}}">Add Recipe</a> | 
			<a class="header-link" href="{{url_for('showUsersRecipes', user_id=session['user_id'])}}">My Recipes</a> | 
			<a class="header-link" href="{{url_for('disconnect')}}">Logout</a>
		{% endif %}
	</div>

	
</div>