{% extends "main.html" %}
{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <h2>Welcome!</h2>
      <h2>Please sign in with your google account.</h2>
    </div>
  </div>
<!-- GOOGLE PLUS SIGN IN-->  
  <div id="signInButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="860665107370-c8g7aftnnrqc29labn811kat3vskvc1e.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>

  <div id="result"></div>
{% endblock %}