<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipe Blog</title>

  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/responsive.css') }}">
  <script type="text/javascript" src="static/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</head>

<body class="container-fluid">
  <header class="row home">
  	<div class="main-title col-xs-12">
      <h1>Minimalist Recipe Blog</h1>
    </div>
  </header>
  
  <main>
    {{access_error}}
    {% block content %}
    {% endblock %}
  </main> 

</body>

</html>
