{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row">
		<div class="col-xs-12 col-md-offset-1">
			<h2>New Recipe</h2>
		</div>
	</div>
		
		<div class="row flash">
			<div class="col-xs-12">		
		    {% with messages = get_flashed_messages() %}
		  		{% if messages %}
			   		<ul>
			    		{% for message in messages %}
			        	<li> <strong> {{ message }} </strong> </li>
			    		{% endfor %}
			    	</ul>
		    	{% endif %}
				{% endwith %}
			</div>
		</div>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the recipe">

					<label for="servings">Servings:</label>
					<input type ="text" maxlength="2" class="form-control" name="servings" placeholder="Number of servings">


					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the recipe"></textarea>
					
					<label for="description">Ingredients:</label>
					<textarea class="form-control" rows="3" name="ingredients" placeholder="- Ingredients for the recipe"></textarea>

					<label for="description">Instructions:</label>
					<textarea class="form-control" rows="3" name="instructions" placeholder="1. Intructions for the recipe"></textarea>

					<label for="category">Category:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" value="1">breakfast
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" value="2">entrees
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" value="3">sides
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" value="4">snacks
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" value="5">beverages
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" value="6">sweets
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
