{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row flash">
		<div class="col-xs-12">		
	    {% with messages = get_flashed_messages() %}
	  		{% if messages %}
		   		<ul>
		    		{% for message in messages %}
		        	<li> <strong> {{ message }} </strong> </li>
		    		{% endfor %}
		    	</ul>
	    	{% endif %}
			{% endwith %}
		</div>
	</div>

	
	{% if recipes !=[] %}	
		<div class="row">
			{% for recipe in recipes %}

				<div class="recipe">
					<div class="col-xs-12">
						<a href="{{url_for('showRecipe', recipe_id=recipe.id)}}">
							<h4 class="recipe-name">{{recipe.name}}</h4>
						</a>
					</div>

					<div class="col-xs-2">
						{% if recipe.picture != "" %}	
							<img src="{{recipe.picture}}">
						{% else %}
						  <img src="placehold.it/300x200">
						{% endif%}
					</div>

					<div class="col-xs-10">
						<p>{{recipe.description}}</p>
					
						<h6>Category: 
							<a href="{{url_for('showRecipes', category_id=recipe.category_id)}}">
								{{recipe.category.name}}
							</a>
						</h6>
						
						<h6>Author: 
							<a href="{{url_for('showUsersRecipes', user_id=recipe.user_id)}}"">
								{{recipe.user.name}}
							</a>
						</h6>
							
						<h6>Servings: {{recipe.servings}}</h6>
					</div>
					
					
				</div>

			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
