{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Recipes
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Recipe creator's name goes here</figcaption>
			</figure>
			</h1>

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">

			<a href="{{url_for('newRecipe')}}">
				<button class="btn btn-default" id="new-menu-item">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Recipe
				</button>
			</a>

		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if recipes !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Breakfast</h2>
					{% for r in recipes %}
						{% if r.category == 'Breakfast' %}
							<div class="menu-item">
								<h3>{{r.name}}</h3>
								<p>{{r.description}}</p>
								<a href='{{url_for('editRecipe', category_id = category.id, recipe_id=r.id ) }}'>Edit</a> | 
								<a href='{{url_for('deleteRecipe', category_id = category.id, recipe_id=r.id ) }}'>Delete</a>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
