{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row flash">
		<div class="col-xs-12">		
	    {% with messages = get_flashed_messages() %}
	  		{% if messages %}
		   		<ul>
		    		{% for message in messages %}
		        	<li> <strong> {{ message }} </strong> </li>
		    		{% endfor %}
		    	</ul>
	    	{% endif %}
			{% endwith %}
		</div>
	</div>

	
	{% if recipes !=[] %}	
		<div class="row recipe">
			{% for recipe in recipes %}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="{{url_for('showRecipe', recipe_id=recipe.id)}}">
						<img class="image-responsive" src="{{recipe.picture}}">
						<h4 class="recipe-name">{{recipe.name}}</h4>
					</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
